h1 {
    /* フォント・テキストの設定 */
    font-size: 24pt;
    font-family: "游ゴシック", "ヒラギノ角ゴ ProN";
    font-weight: bold;
    text-align: center;
    
    /* 配置の設定 */
    margin: 0px;
    padding: 0.2em 0.2em 0.5em 0.2em;
    text-align: center;
}

table.bbs {
    margin: auto;
    border-collapse: collapse;
}

table.bbs th, table.bbs td {
    border: 1px #666 solid;
    padding: 2px 10px;
    text-align: center;
}

table.bbs th {
        font-weight: bold;
    background-color: #aaf;
}

table.bbs tr:nth-child(even) td{
        background-color: #eff;
}
.delete {
    background-color: #fd6f90;
    color: white;
    border-radius: 5px;
}

table.login{
    margin: auto;
}

button.login{
    width: 160px;
    background-color: #696;
    border-bottom: 4px solid #464;
    color: #fff;
}

div.login {
    text-align: center;
}


table.registry, table.login{
    margin: auto;
}

button.registry, button.login{
    width: 160px;
    background-color: #696;
    border-bottom: 4px solid #464;
    color: #fff;
}

div.registry, div.login {
    text-align: center;
}